container {
    border: 2px solid black;
    height:30rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}
box {
    border: 2px solid black;
    background-color: grey;
    padding: 50px;
    margin: 30px;
    height: 30px;
}